<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Veeva Project" parallel="tests" thread-count="3" >
<!--  <listeners>-->
<!--   <listener class-name="utils.RetryListener"/>-->
<!--  </listeners>-->
    <listeners>
        <listener class-name="runners.RerunListener"/>
    </listeners>
    <test name="01_DP2TestRunner in firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="runners.DP2TestRunner"/>
        </classes>
    </test>
    <test name="02_CPTestRunner in chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="runners.CPTestRunner"/>
        </classes>
    </test>
    <test name="03_DP1TestRunner in chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="runners.DP1TestRunner"/>
        </classes>
    </test>
</suite>
